h1 {
  font-size: 4.4rem;
  font-weight: 800;
  line-height: 131.523%;
  color: #2c2c2c;
}

h2 {
  font-size: 38px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%;
  color: #2c2c2c;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 3.2rem;
  color: #2c2c2c;
}

p {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 153.125%;
  color: #2c2c2c;
}

@media screen and (max-width: 1499px) {
  h1 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 131.523%;
    color: #2c2c2c;
  }
  h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 131.523%;
    color: #2c2c2c;
  }
  h3 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.2rem;
    color: #2c2c2c;
  }
  p {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 153.125%;
    color: #2c2c2c;
  }
}
@media screen and (max-width: 1399px) {
  h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 131.523%;
    color: #2c2c2c;
  }
  h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 131.523%;
    color: #2c2c2c;
  }
  h3 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.2rem;
    color: #2c2c2c;
  }
  p {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 153.125%;
    color: #2c2c2c;
  }
}
@media screen and (max-width: 1199px) {
  h1 {
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 131.523%;
    color: #2c2c2c;
  }
  h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 131.523%;
    color: #2c2c2c;
  }
  h3 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.2rem;
    color: #2c2c2c;
  }
  p {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 153.125%;
    color: #2c2c2c;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 131.523%;
    color: #2c2c2c;
  }
  h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 131.523%;
    color: #2c2c2c;
  }
  h3 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.2rem;
    color: #2c2c2c;
  }
  p {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 153.125%;
    color: #2c2c2c;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: #2c2c2c;
  line-height: 1.2;
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

img {
  max-width: 100%;
  height: auto;
}

ul li {
  list-style: none;
}

.container {
  position: relative;
  max-width: 100vw;
  padding: 0 calc((100vw - var(--max-width)) / 2);
  margin: 0 auto;
}

.header {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  z-index: 99;
  position: sticky;
  top: 0;
  background-color: #fff;
  left: 0;
  background-color: #fff;
}
.header .header-inner {
  max-width: 1440px;
  margin: 0 240px;
  display: flex;
  justify-content: space-between;
}
.header .header-inner .menu-toggle {
  display: none;
}
.header .header-inner form {
  display: none;
}
.header .header-inner .header-nav {
  display: flex;
  margin-top: 65px;
  column-gap: 60px;
}
.header .header-inner .header-nav .header-nav_cart {
  display: none;
}
.header .header-inner .header-nav a {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.header .header-inner .header-nav a:hover {
  color: #46b20f;
  border-bottom: 1px solid #46b20f;
}
.header .header-inner .header-nav img {
  height: 24px;
}
.header .header-inner .header-nav .cart-icon {
  position: relative;
}
.header .header-inner .header-nav .cart-icon::after {
  content: "3";
  position: absolute;
  color: #fff;
  background-color: #e05000;
  font-size: 1.2rem;
  line-height: 1.4rem;
  border-radius: 50%;
  padding: 1px 4px;
  top: -7px;
  right: -7px;
}
.header .header-inner .header-nav .active {
  color: #46b20f;
  border-bottom: 1px solid #46b20f;
}

@media screen and (max-width: 1499px) {
  .header .header-inner {
    max-width: 1320px;
    margin: 0 calc((100vw - 1320px) / 2);
  }
  .header .header-inner .header-logo img {
    width: 90%;
  }
  .header .header-inner .header-nav {
    margin-top: 58.8px;
  }
  .header .header-inner .header-nav a {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1399px) {
  .header .header-inner {
    max-width: 1140px;
    margin: 0 calc((100vw - 1140px) / 2);
  }
  .header .header-inner .header-nav a {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1199px) {
  .header .header-inner {
    max-width: 960px;
    margin: 0 calc((100vw - 960px) / 2);
  }
  .header .header-inner .header-logo img {
    width: 80%;
  }
  .header .header-inner .header-nav {
    margin-top: 52px;
    column-gap: 30px;
  }
  .header .header-inner .header-nav a {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 991px) {
  .header .header-inner {
    display: flex;
    max-width: 720px;
    margin: 0 calc((100vw - 720px) / 2);
    align-items: center;
  }
  .header .header-inner .header-logo img {
    width: 70%;
  }
  .header .header-inner .header-nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 42px;
    left: 0;
    bottom: 0;
    min-width: 250px;
    background-color: #e05000;
    padding: 20px 0;
    transition: transform 0.3s ease-in-out;
  }
  .header .header-inner .header-nav .cart-icon {
    display: none;
  }
  .header .header-inner .header-nav .search-icon {
    display: none;
  }
  .header .header-inner .header-nav .header-nav_cart {
    display: block;
  }
  .header .header-inner .header-nav a {
    display: block;
    color: #fff;
    padding: 10px 20px;
  }
  .header .header-inner .header-nav.active {
    display: flex;
    transform: translateY(0);
  }
  .header .header-inner form {
    display: flex;
    column-gap: 18px;
    font-weight: 700;
    align-items: center;
  }
  .header .header-inner form input[type=search]::placeholder {
    font-size: 1.6rem;
    color: #2c2c2c;
    opacity: 0.7;
  }
  .header .header-inner .menu-toggle {
    display: block;
  }
}
@media screen and (max-width: 761px) {
  .header .header-inner {
    display: flex;
    max-width: 540px;
    margin: 0 calc((100vw - 540px) / 2);
    align-items: center;
  }
  .header .header-inner .header-logo img {
    width: 60%;
  }
  .header .header-inner .header-nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 30px;
    left: 0;
    bottom: 0;
    min-width: 200px;
    background-color: #e05000;
    padding: 20px 0;
    transition: transform 0.7s ease-in-out;
  }
  .header .header-inner .header-nav .cart-icon {
    display: none;
  }
  .header .header-inner .header-nav .search-icon {
    display: none;
  }
  .header .header-inner .header-nav .header-nav_cart {
    display: block;
  }
  .header .header-inner .header-nav a {
    display: block;
    color: #fff;
    padding: 10px 20px;
  }
  .header .header-inner .header-nav.active {
    display: flex;
    transform: translateY(0);
  }
  .header .header-inner form {
    display: flex;
    column-gap: 18px;
    font-weight: 700;
    align-items: center;
  }
  .header .header-inner form input[type=search]::placeholder {
    font-size: 1.6rem;
    color: #2c2c2c;
    opacity: 0.7;
  }
  .header .header-inner .menu-toggle {
    display: block;
  }
}
@media screen and (max-width: 575px) {
  .header .header-inner {
    display: flex;
    max-width: 430px;
    margin: 0 calc((100vw - 430px) / 2);
    align-items: center;
  }
  .header .header-inner .header-logo img {
    width: 60%;
  }
  .header .header-inner .header-nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 30px;
    left: 0;
    bottom: 0;
    min-width: 200px;
    background-color: #e05000;
    padding: 20px 0;
    transition: transform 0.7s ease-in-out;
  }
  .header .header-inner .header-nav .cart-icon {
    display: none;
  }
  .header .header-inner .header-nav .search-icon {
    display: none;
  }
  .header .header-inner .header-nav .header-nav_cart {
    display: block;
  }
  .header .header-inner .header-nav a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.4rem;
  }
  .header .header-inner .header-nav.active {
    display: flex;
    transform: translateY(0);
  }
  .header .header-inner form {
    display: flex;
    column-gap: 18px;
    font-weight: 700;
    align-items: center;
  }
  .header .header-inner form input[type=search]::placeholder {
    font-size: 1.6rem;
    color: #2c2c2c;
    opacity: 0.7;
  }
  .header .header-inner .menu-toggle {
    display: block;
  }
}
@media screen and (max-width: 460px) {
  .header .header-inner {
    display: flex;
    max-width: 320px;
    margin: 0 calc((100vw - 320px) / 2);
    align-items: center;
  }
  .header .header-inner .header-logo img {
    width: 50%;
  }
  .header .header-inner .header-nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 6px;
    left: 0;
    bottom: 0;
    min-width: 200px;
    background-color: #e05000;
    transition: transform 0.7s ease-in-out;
  }
  .header .header-inner .header-nav .cart-icon {
    display: none;
  }
  .header .header-inner .header-nav .search-icon {
    display: none;
  }
  .header .header-inner .header-nav .header-nav_cart {
    display: block;
  }
  .header .header-inner .header-nav a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.4rem;
  }
  .header .header-inner .header-nav.active {
    display: flex;
    transform: translateY(0);
  }
  .header .header-inner form {
    display: flex;
    column-gap: 18px;
    font-weight: 700;
    align-items: center;
  }
  .header .header-inner form input[type=search]::placeholder {
    font-size: 1.6rem;
    color: #2c2c2c;
    opacity: 0.7;
  }
  .header .header-inner .menu-toggle {
    display: block;
  }
}
.hero .hero-inner {
  max-width: 1440px;
  display: flex;
  margin-left: 240px;
  align-items: center;
  position: relative;
}
.hero .hero-inner .hero-content {
  width: 48%;
}
.hero .hero-inner .hero-content h1 span {
  font-size: 5.2rem;
}
.hero .hero-inner .hero-content p {
  margin-top: 32px;
  width: 86%;
}
.hero .hero-inner .hero-img {
  width: 62%;
  z-index: 2;
  position: relative;
}
.hero .hero-inner .hero-img img {
  width: auto;
  align-items: center;
  margin: auto 0;
}
.hero .hero-inner .hero-img p {
  transform: rotate(90deg);
  color: #216000;
  font-size: 20rem;
  font-weight: 800;
  position: absolute;
  top: 196px;
  right: -340px;
  line-height: 200px;
  opacity: 0.150000006;
}
.hero .hero-inner::after {
  content: "";
  width: 931px;
  height: 850px;
  position: absolute;
  top: 0;
  right: -224px;
  background-color: #dcffca;
  border-radius: 20px 0 0 20px;
  z-index: 0;
}

@media screen and (max-width: 1499px) {
  .hero .hero-inner {
    max-width: 1320px;
    margin: 0 calc((100vw - 1320px) / 2);
  }
  .hero .hero-inner .hero-content h1 span {
    margin-top: 27px;
  }
  .hero .hero-inner .hero-img img {
    width: 70%;
  }
  .hero .hero-inner .hero-img p {
    transform: rotate(90deg);
    color: #216000;
    font-size: 14rem;
    font-weight: 800;
    position: absolute;
    top: 196px;
    right: -80px;
    line-height: 12rem;
    opacity: 0.150000006;
  }
  .hero .hero-inner::after {
    content: "";
    width: 531px;
    height: 720px;
    position: absolute;
    top: 0;
    right: calc(-1 * (100vw - 1320px) / 2);
    background-color: #dcffca;
    border-radius: 20px 0 0 20px;
    z-index: 0;
  }
}
@media screen and (max-width: 1399px) {
  .hero .hero-inner {
    max-width: 1140px;
    margin: 0 calc((100vw - 1140px) / 2);
  }
  .hero .hero-inner .hero-content h1 span {
    margin-top: 27px;
  }
  .hero .hero-inner .hero-img img {
    width: 70%;
  }
  .hero .hero-inner .hero-img p {
    transform: rotate(90deg);
    color: #216000;
    font-size: 14rem;
    font-weight: 800;
    position: absolute;
    top: 196px;
    right: -180px;
    line-height: 12rem;
    opacity: 0.150000006;
  }
  .hero .hero-inner::after {
    content: "";
    width: 531px;
    height: 622px;
    position: absolute;
    top: 0;
    right: calc(-1 * (100vw - 1140px) / 2);
    background-color: #dcffca;
    border-radius: 20px 0 0 20px;
    z-index: 0;
  }
}
@media screen and (max-width: 1199px) {
  .hero .hero-inner {
    max-width: 960px;
    margin: 0 calc((100vw - 960px) / 2);
  }
  .hero .hero-inner .hero-content h1 span {
    margin-top: 27px;
    font-size: 3.4rem;
  }
  .hero .hero-inner .hero-img img {
    width: 70%;
  }
  .hero .hero-inner .hero-img p {
    transform: rotate(90deg);
    color: #216000;
    font-size: 12rem;
    font-weight: 800;
    position: absolute;
    top: 130px;
    right: -180px;
    line-height: 12rem;
    opacity: 0.150000006;
  }
  .hero .hero-inner::after {
    content: "";
    width: 531px;
    height: 524px;
    position: absolute;
    top: 0;
    right: calc(-1 * (100vw - 960px) / 2);
    background-color: #dcffca;
    border-radius: 20px 0 0 20px;
    z-index: 0;
  }
}
@media screen and (max-width: 991px) {
  .hero .hero-inner {
    max-width: 720px;
    margin: 0 calc((100vw - 720px) / 2);
  }
  .hero .hero-inner .hero-content {
    width: 60%;
  }
  .hero .hero-inner .hero-content h1 span {
    margin-top: 27px;
    font-size: 3rem;
  }
  .hero .hero-inner .hero-img img {
    width: 60%;
  }
  .hero .hero-inner .hero-img p {
    transform: rotate(90deg);
    color: #216000;
    font-size: 8rem;
    font-weight: 800;
    position: absolute;
    top: 100px;
    right: -120px;
    line-height: 6rem;
    opacity: 0.150000006;
  }
  .hero .hero-inner::after {
    content: "";
    width: 431px;
    height: 340px;
    position: absolute;
    top: 0;
    right: calc(-1 * (100vw - 720px) / 2);
    background-color: #dcffca;
    border-radius: 20px 0 0 20px;
    z-index: 0;
  }
}
@media screen and (max-width: 767px) {
  .hero .hero-inner {
    max-width: 540px;
    margin: 0;
    display: block;
  }
  .hero .hero-inner .hero-content {
    margin: 0 calc((100vw - 540px) / 2);
    padding: 40px 0;
    width: 100%;
  }
  .hero .hero-inner .hero-content h1 span {
    margin-top: 27px;
    font-size: 3rem;
  }
  .hero .hero-inner .hero-img {
    background-color: #dcffca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140%;
  }
  .hero .hero-inner .hero-img img {
    width: 40%;
  }
  .hero .hero-inner .hero-img p {
    transform: rotate(90deg);
    color: #216000;
    font-size: 8rem;
    font-weight: 800;
    line-height: 6rem;
    opacity: 0.150000006;
  }
  .hero .hero-inner::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    background-color: #dcffca;
    border-radius: 20px 0 0 20px;
    z-index: 0;
  }
}
@media screen and (max-width: 575px) {
  .hero .hero-inner {
    max-width: 430px;
    margin: 0;
    display: block;
  }
  .hero .hero-inner .hero-content {
    margin: 0 calc((100vw - 430px) / 2);
    padding: 40px 0;
    width: 100%;
  }
  .hero .hero-inner .hero-content h1 span {
    margin-top: 27px;
    font-size: 3rem;
  }
  .hero .hero-inner .hero-img {
    background-color: #dcffca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140%;
  }
  .hero .hero-inner .hero-img img {
    width: 40%;
  }
  .hero .hero-inner .hero-img p {
    transform: rotate(90deg);
    color: #216000;
    font-size: 8rem;
    font-weight: 800;
    line-height: 6rem;
    opacity: 0.150000006;
  }
  .hero .hero-inner::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    background-color: #dcffca;
    border-radius: 20px 0 0 20px;
    z-index: 0;
  }
}
@media screen and (max-width: 430px) {
  .hero .hero-inner {
    max-width: 320px;
    margin: 0;
    display: block;
  }
  .hero .hero-inner .hero-content {
    margin: 0 calc((100vw - 320px) / 2);
    padding: 40px 0;
    width: 100%;
  }
  .hero .hero-inner .hero-content h1 span {
    margin-top: 27px;
    font-size: 3rem;
  }
  .hero .hero-inner .hero-img {
    background-color: #dcffca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140%;
  }
  .hero .hero-inner .hero-img img {
    width: 40%;
  }
  .hero .hero-inner .hero-img p {
    transform: rotate(90deg);
    color: #216000;
    font-size: 8rem;
    font-weight: 800;
    line-height: 6rem;
    opacity: 0.150000006;
  }
  .hero .hero-inner::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    background-color: #dcffca;
    border-radius: 20px 0 0 20px;
    z-index: 0;
  }
}
.quality .quality-inner {
  max-width: 1150px;
  margin: 120px 375px;
  text-align: center;
  justify-content: center;
}
.quality .quality-inner p {
  max-width: 772px;
  margin: 30px auto;
}
.quality .quality-inner .quantity-list {
  display: flex;
  flex-direction: row;
  column-gap: 26px;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  position: relative;
}
.quality .quality-inner .quantity-list::after {
  content: "";
  border-radius: 282px;
  background: var(--green-200, #dcffca);
  width: 282px;
  height: 282px;
  position: absolute;
  top: 0;
  left: -141px;
  z-index: 0;
}
.quality .quality-inner .quantity-list::before {
  content: "";
  border-radius: 282px;
  background: var(--orange-200, #ffd5bd);
  width: 282px;
  height: 282px;
  position: absolute;
  bottom: -109px;
  right: -141px;
  z-index: 0;
}
.quality .quality-inner .quantity-list .quantity-item {
  border-radius: 4px;
  background: var(--white, #fff);
  box-shadow: -7px 10px 87px 0px rgba(54, 54, 54, 0.12);
  padding: 40px;
  height: fit-content;
  margin-top: 98px;
  position: relative;
  z-index: 1;
}
.quality .quality-inner .quantity-list .quantity-item .quantity-item_img {
  padding: 23px;
  border-radius: 12px;
  width: fit-content;
  background: var(--orange-100, #fff0e7);
}
.quality .quality-inner .quantity-list .quantity-item h1 {
  margin-top: 28px;
  font-size: 5.2rem;
  margin-bottom: 29px;
}
.quality .quality-inner .quantity-list .quantity-item p {
  padding-right: 30px;
  font-size: 2.4rem;
  line-height: 154.167%;
}
.quality .quality-inner .quantity-list .quantity-item:nth-child(2) {
  padding: 73px 40px;
}

@media screen and (max-width: 1499px) {
  .quality .quality-inner {
    margin: 120px auto;
    max-width: 1150px;
  }
}
@media screen and (max-width: 1399px) {
  .quality .quality-inner {
    margin: 120px auto;
    max-width: 1140px;
  }
  .quality .quality-inner .quantity-list::after {
    content: "";
    border-radius: 202px;
    background: var(--green-200, #dcffca);
    width: 202px;
    height: 202px;
    position: absolute;
    top: 20px;
    left: -101px;
    z-index: 0;
  }
  .quality .quality-inner .quantity-list::before {
    content: "";
    border-radius: 202px;
    background: var(--orange-200, #ffd5bd);
    width: 202px;
    height: 202px;
    position: absolute;
    bottom: -69px;
    right: -101px;
    z-index: 0;
  }
}
@media screen and (max-width: 1199px) {
  .quality .quality-inner {
    margin: 120px 120px;
    max-width: 960px;
  }
  .quality .quality-inner .quantity-list::after {
    content: "";
    border-radius: 202px;
    background: var(--green-200, #dcffca);
    width: 202px;
    height: 202px;
    position: absolute;
    top: 20px;
    left: -101px;
    z-index: 0;
  }
  .quality .quality-inner .quantity-list::before {
    content: "";
    border-radius: 202px;
    background: var(--orange-200, #ffd5bd);
    width: 202px;
    height: 202px;
    position: absolute;
    bottom: -69px;
    right: -101px;
    z-index: 0;
  }
}
@media screen and (max-width: 991px) {
  .quality .quality-inner {
    max-width: 720px;
    margin: 0 calc((100vw - 720px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .quality .quality-inner {
    max-width: 540px;
    margin: 0 calc((100vw - 540px) / 2);
  }
}
.product .product-inner {
  margin: 120px 375px;
  max-width: 1150px;
}
.product .product-inner h2 {
  margin-top: 257px;
  margin-bottom: 60px;
  text-align: center;
}
.product .product-inner .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  column-gap: 100px;
  row-gap: 120px;
}
.product .product-inner .product-list .product-item {
  text-align: center;
  position: relative;
}
.product .product-inner .product-list .product-item .img1 {
  position: absolute;
  top: 137px;
  left: 0;
}
.product .product-inner .product-list .product-item h3 {
  margin-top: 124px;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.product .product-inner .product-list .product-item .img-border {
  margin-top: 13px;
  margin-bottom: 20px;
}
.product .product-inner .product-list .product-item .price {
  margin-top: 8px;
  margin-bottom: 32px;
}
.product .product-inner .product-list .product-item p span {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.2rem;
}

@media screen and (max-width: 1499px) {
  .product .product-inner {
    margin: 120px auto;
    max-width: 1150px;
  }
}
@media screen and (max-width: 1399px) {
  .product .product-inner {
    max-width: 1140px;
    margin: 0 calc((100vw - 1140px) / 2);
  }
}
@media screen and (max-width: 1199px) {
  .product .product-inner {
    max-width: 960px;
    margin: 0 calc((100vw - 960px) / 2);
  }
}
@media screen and (max-width: 991px) {
  .product .product-inner {
    max-width: 720px;
    margin: 0 calc((100vw - 720px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .product .product-inner {
    max-width: 540px;
    margin: 0 calc((100vw - 540px) / 2);
  }
}
.btn-primary-default {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #46b20f;
  border-radius: 8px;
  padding: 16px 14px;
}

.btn-primary-default:hover {
  background-color: #e05000;
}

.btn-secondary-default {
  background: transparent;
  border: 1px solid #46b20f;
  padding: 14px 26px;
  border-radius: 8px;
}

.btn-secondary-default:hover {
  background-color: #46b20f;
  color: #fff;
}

.btn-order-black {
  width: 531px;
  padding: 16px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #2c2c2c;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.btn-order-orange {
  width: 531px;
  padding: 16px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #e05000;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.circle-green {
  width: 282px;
  height: 282px;
  flex-shrink: 0;
  border-radius: 282px;
  background: var(--green-200, #dcffca);
}

.circle-orange {
  width: 282px;
  height: 282px;
  flex-shrink: 0;
  border-radius: 282px;
  background: var(--orange-200, #ffd5bd);
}

/*# sourceMappingURL=style.css.map */
