.btn-primary-default {
  color: $whiteColor;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: $greenMain;
  border-radius: 8px;
  padding: 16px 14px;
}

.btn-primary-default:hover {
  background-color: $orangeMain;
}

.btn-secondary-default {
  margin: 0 auto;
  display: flex;
  column-gap: 4px;
  align-items: center;
  background: transparent;
  border: 1px solid $greenMain;
  padding: 14px 26px;
  border-radius: 8px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  span {
    align-items: center;
    margin: auto 0;
    img {
      margin: auto 0;
      width: 20px;
      height: 27px;
    }
  }
}

.btn-secondary-default:hover {
  background-color: $greenMain;
  color: $whiteColor;
  img {
    color: $whiteColor;
  }
}

.btn-order-black {
  width: 531px;
  padding: 16px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: $bgColor;
  font-size: 2rem;
  font-weight: 700;
  color: $whiteColor;
}

.btn-order-orange {
  width: 531px;
  padding: 16px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: $orangeMain;
  font-size: 2rem;
  font-weight: 700;
  color: $whiteColor;
}
@media screen and (max-width: 991.98px) {
  .btn-primary-default {
    color: $whiteColor;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: $greenMain;
    border-radius: 8px;
    padding: 16px 14px;
  }

  .btn-primary-default:hover {
    background-color: $orangeMain;
  }

  .btn-secondary-default {
    margin: 0 auto;
    display: flex;
    column-gap: 4px;
    align-items: center;
    background: transparent;
    border: 1px solid $greenMain;
    padding: 14px 26px;
    border-radius: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    span {
      align-items: center;
      margin: auto 0;
      img {
        margin: auto 0;
        width: 14px;
        height: 17px;
      }
    }
  }

  .btn-secondary-default:hover {
    background-color: $greenMain;
    color: $whiteColor;
  }

  .btn-order-black {
    width: 531px;
    padding: 16px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: $bgColor;
    font-size: 1.4rem;
    font-weight: 700;
    color: $whiteColor;
  }

  .btn-order-orange {
    width: 531px;
    padding: 16px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: $orangeMain;
    font-size: 2rem;
    font-weight: 700;
    color: $whiteColor;
  }
}
@media screen and (max-width: 767.98px) {
  .btn-primary-default {
    color: $whiteColor;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: $greenMain;
    border-radius: 8px;
    padding: 16px 14px;
  }

  .btn-primary-default:hover {
    background-color: $orangeMain;
  }

  .btn-secondary-default {
    margin: 0 auto;
    display: flex;
    column-gap: 4px;
    align-items: center;
    background: transparent;
    border: 1px solid $greenMain;
    padding: 14px 26px;
    border-radius: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    span {
      align-items: center;
      margin: auto 0;
      img {
        margin: auto 0;
        width: 14px;
        height: 17px;
      }
    }
  }

  .btn-secondary-default:hover {
    background-color: $greenMain;
    color: $whiteColor;
  }

  .btn-order-black {
    width: 531px;
    padding: 16px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: $bgColor;
    font-size: 1.4rem;
    font-weight: 700;
    color: $whiteColor;
  }

  .btn-order-orange {
    width: 531px;
    padding: 16px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: $orangeMain;
    font-size: 2rem;
    font-weight: 700;
    color: $whiteColor;
  }
}
@media screen and (max-width: 575.98px) {
  .btn-primary-default {
    color: $whiteColor;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: $greenMain;
    border-radius: 8px;
    padding: 16px 14px;
  }

  .btn-primary-default:hover {
    background-color: $orangeMain;
  }

  .btn-secondary-default {
    margin: 0 auto;
    display: flex;
    column-gap: 4px;
    align-items: center;
    background: transparent;
    border: 1px solid $greenMain;
    padding: 14px 26px;
    border-radius: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    span {
      align-items: center;
      margin: auto 0;
      img {
        margin: auto 0;
        width: 14px;
        height: 17px;
      }
    }
  }

  .btn-secondary-default:hover {
    background-color: $greenMain;
    color: $whiteColor;
  }

  .btn-order-black {
    width: 531px;
    padding: 16px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: $bgColor;
    font-size: 1.4rem;
    font-weight: 700;
    color: $whiteColor;
  }

  .btn-order-orange {
    width: 531px;
    padding: 16px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: $orangeMain;
    font-size: 2rem;
    font-weight: 700;
    color: $whiteColor;
  }
}
@media screen and (max-width: 460.98px) {
  .btn-primary-default {
    color: $whiteColor;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: $greenMain;
    border-radius: 8px;
    padding: 16px 14px;
  }

  .btn-primary-default:hover {
    background-color: $orangeMain;
  }

  .btn-secondary-default {
    margin: 0 auto;
    display: flex;
    column-gap: 4px;
    align-items: center;
    background: transparent;
    border: 1px solid $greenMain;
    padding: 14px 26px;
    border-radius: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    span {
      align-items: center;
      margin: auto 0;
      img {
        margin: auto 0;
        width: 14px;
        height: 17px;
      }
    }
  }

  .btn-secondary-default:hover {
    background-color: $greenMain;
    color: $whiteColor;
  }

  .btn-order-black {
    width: 531px;
    padding: 16px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: $bgColor;
    font-size: 1.4rem;
    font-weight: 700;
    color: $whiteColor;
  }

  .btn-order-orange {
    width: 531px;
    padding: 16px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: $orangeMain;
    font-size: 2rem;
    font-weight: 700;
    color: $whiteColor;
  }
}
