// Import Parts
.header {
  background: $whiteColor;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  .container {
    max-width: 1440px;
    .header-menu {
      ul {
        display: flex;
        justify-content: flex-end;
        column-gap: 5%;
        li {
          a {
            font-size: 2rem;
            font-weight: 600;
            line-height: 2.6rem;
            &.active {
              color: $greenMain;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 3px;
                background-color: $greenMain;
              }
            }
            &:hover {
              @extend .active;
            }
          }
        }
      }
    }
    .header-icon {
      display: flex;
      justify-content: space-around;
      .cart-icon {
        position: relative;
        span {
          position: absolute;
          right: -7px;
          top: -7px;
          background-color: $orangeMain;
          color: $whiteColor;
          padding: 0 4px;
          border-radius: 50%;
        }
      }
      .menu-toggle {
        display: none;
      }
    }
    .row [class^="col-"] {
      margin: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    .container {
      max-width: 720px;
      position: relative;
      .header-menu {
        display: none;
      }
      .search-tablet{
        display: flex;
      }
      .header-icon {
        column-gap: 20px;
        .search-icon{
          display: none;
        }
        .menu-toggle {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 720px){
  .header{
    .container{
      .header-icon{
        .cart-icon{
          display: none;
        }
      }
    }
  }
}
