// Import Parts
.header {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  z-index: 99;
  position: sticky;
  top: 0;
  background-color: $whiteColor;
  .header-inner {
    max-width: 1440px;
    margin: 0 240px;
    display: flex;
    justify-content: space-between;
    .header-nav {
      display: flex;
      margin-top: 65px;
      column-gap: 60px;
      a {
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        &:hover{
          color: $greenMain;
          border-bottom: 1px solid $greenMain;
        }
      }
      img {
        height: 24px;
      }
      .cart-icon{
        position: relative;
        &::after{
          content: '3';
          position: absolute;
          color: $whiteColor;
          background-color: $orangeMain;
          font-size: 1.2rem;
          line-height: 1.4rem;
          border-radius: 50%;
          padding: 1px 4px;
          top: -7px;
          right: -7px;
        }
      }
      .active{
        color: $greenMain;
        border-bottom: 1px solid $greenMain;
      }
    }
  }
}
