.quality {
  .quality-inner {
    max-width: 1150px;
    margin: 120px 375px;
    text-align: center;
    justify-content: center;
    p {
      max-width: 772px;
      margin: 30px auto;
    }
    .quantity-list {
      display: flex;
      flex-direction: row;
      column-gap: 26px;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      position: relative;
      &::after {
        content: "";
        border-radius: 282px;
        background: var(--green-200, #dcffca);
        width: 282px;
        height: 282px;
        position: absolute;
        top: 0;
        left: -141px;
        z-index: 0;
      }
      &::before {
        content: "";
        border-radius: 282px;
        background: var(--orange-200, #ffd5bd);
        width: 282px;
        height: 282px;
        position: absolute;
        bottom: -109px;
        right: -141px;
        z-index: 0;
      }
      .quantity-item {
        border-radius: 4px;
        background: var(--white, #fff);
        box-shadow: -7px 10px 87px 0px rgba(54, 54, 54, 0.12);
        padding: 40px;
        height: fit-content;
        margin-top: 98px;
        position: relative;
        z-index: 1;
        .quantity-item_img {
          padding: 23px;
          border-radius: 12px;
          width: fit-content;
          background: var(--orange-100, #fff0e7);
        }
        h1 {
          margin-top: 28px;
          font-size: 5.2rem;
          margin-bottom: 29px;
        }
        p {
          padding-right: 30px;
          font-size: 2.4rem;
          line-height: 154.167%;
        }
        &:nth-child(2) {
          padding: 73px 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 1499px) {
  .quality {
    .quality-inner {
      margin: 120px auto;
    max-width: 1150px;
    }
  }
}

@media screen and (max-width: 1399px) {
  .quality {
    .quality-inner {
      margin: 120px auto;
      max-width: 1140px;

      .quantity-list {
        &::after {
          content: "";
          border-radius: 202px;
          background: var(--green-200, #dcffca);
          width: 202px;
          height: 202px;
          position: absolute;
          top: 20px;
          left: -101px;
          z-index: 0;
        }
        &::before {
          content: "";
          border-radius: 202px;
          background: var(--orange-200, #ffd5bd);
          width: 202px;
          height: 202px;
          position: absolute;
          bottom: -69px;
          right: -101px;
          z-index: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .quality {
    .quality-inner {
      margin: 120px 120px;
      max-width: 960px;

      .quantity-list {
        &::after {
          content: "";
          border-radius: 202px;
          background: var(--green-200, #dcffca);
          width: 202px;
          height: 202px;
          position: absolute;
          top: 20px;
          left: -101px;
          z-index: 0;
        }
        &::before {
          content: "";
          border-radius: 202px;
          background: var(--orange-200, #ffd5bd);
          width: 202px;
          height: 202px;
          position: absolute;
          bottom: -69px;
          right: -101px;
          z-index: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 991px){
  .quality{
    .quality-inner{
      max-width: 720px;
      margin: 0 calc((100vw - 720px) / 2);
    }
  }
}

@media screen and (max-width: 767px){
  .quality{
    .quality-inner{
      max-width: 540px;
      margin: 0 calc((100vw - 540px) / 2);
    }
  }
}
